html, body {
  margin: 0;
  padding: 0;
  flex:auto;
}


nav {
  margin: 1;
  padding: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row wrap;
}

li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
  display: inline-block;
  width: 80px;
}


.middle {

  margin: 150px;
  height: 50%;
  width: 75%;
  display:flex;
  align-items: center;
  flex-flow: column;
}
.search {
  border-style: hidden;
}
#search-bar {
border-radius: 50px;
outline: none;
width: 45em;
height: 4em;  
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
  
}

.buttons {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 10px;
  letter-spacing: 1.3px;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;  
  margin: 20px;      
}

